* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

.main-center-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%; //fallback
  width: 100vw;
}

#app {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 60vh;
  width: 60%;
  width: 60vw;

  @media only screen and (max-width: 600px) and (orientation:portrait) {
    width: 160%;
    width: 160vw;
  }

  @media only screen and (max-width: 800px) and (orientation:landscape) {
    width: 80%;
    width: 80vw;
  }
}

#app:fullscreen {
  height: 70%;
  width: 80%;
  padding-left: 1.5%;
  padding-right: 1.5%;
  padding-bottom: 3%;
}

.container {
  display: flex;
  background-color: black;
  width: 100%;
  height: 100%;
  justify-content: center;
}

.keys {
  color: black;
  background-color: white;
  border: solid;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-end;
}

.black-keys {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  z-index: 9;
}

.keys-size {
  flex-grow: 1;
  height: 100%;
  width: 8%;
}

.black-keys-size {
  width: 6%;
  margin-right: -3%;
  margin-left: -3%;
  height: 50%;
  flex-grow: 1;
}

.key-subcontainer {
  display: flex;
  pointer-events: none;
  flex-direction: column-reverse;
}

.no-pointer-event {
  pointer-events: none;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                               supported by Chrome, Edge, Opera and Firefox */
}

.name {
  margin: 5px;
  font-size: 1rem;

  @media only screen and (max-width: 600px) {
    font-size: 0.8rem;
  }
}

.key-to-press {
  text-align: center;
  font-size: 0.6rem;
}

.pressed-key {
  background-color: red;
}

.full-screen-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: flex-end;
  margin: 10px 0 10px 0;
  width: 20px;
  height: 20px;

  @media only screen and (max-width: 600px) {
    align-self: center;
    margin: 20px;
    width: 40px;
    height: 40px;
  }
}
